body {
    background: black;
    color: blue;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


#cabecera {
    background: blue;
    box-shadow: 0px 5px 30px 0px rgb(58, 54, 54);
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    background: gray;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(58, 54, 54);
    margin: 0 auto;
}


#container h1 {
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
}